.nav-style{
  position:fixed;
  top: 0;
  z-index: 9;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

.navtab:hover{
  text-decoration: underline;
  font-weight: 600 !important;
  font-family: 'Open Sans', sans-serif;
}

.nav-colored{
  background-color: pink;
  color: black;
}
.nav-transparent{
background-color: none;
color: white;
}


/* Carousal Section */

.bg-light{
  background-color: transparent;
}

.hero-carousel{
  height: 100vh;
  min-height: 300px;
}

.hero-carousel img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  overflow: hidden;
}

.carousel-caption{
  bottom: 180px;
  color: white;
}

.wrapper{
display: flex;
max-width: 1200px;
position: relative;
}
.wrapper i{
top: 50%;
height: 10px;
width: 10px;
color: #343F4F;
cursor: pointer;
font-size: 1.15rem;
position: absolute;
text-align: center;
line-height: 44px;
background: #fff;
border-radius: 100%;
transform: translateY(-50%);
transition: transform 0.1s linear;
}
.wrapper i:active{
transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
background: #f2f2f2;
}
.wrapper i:first-child{
left: -22px;
display: none;
}
.wrapper i:last-child{
right: -22px;
}
.wrapper .slider{
font-size: 0px;
cursor: pointer;
overflow: hidden;
white-space: nowrap;
scroll-behavior: smooth;
}
.slider .dragging{
cursor: grab;
scroll-behavior: auto;
}
.slider .dragging img{
pointer-events: none;
}
.slider img{
height: 100px;
object-fit: cover;
user-select: none;
margin-left: 5px;
width: calc(100% /6);
}
.slider img:first-child{
margin-left: 0px;
}

@media screen and (max-width: 900px) {
.slider img{
width: calc(100% / 2);
}
}

@media screen and (max-width: 550px) {
.slider img{
width: 100%;
}
}

/* PRODUCTS */
.product {
position: relative;
overflow: hidden;
padding: 20px;
}

.product-category {
padding: 0 10vw;
font-size: 30px;
font-weight: 500;
margin-bottom: 40px;
text-transform: capitalize;
}

.product-container {
padding: 0 10vw;
display: flex;
overflow-x: auto;
scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
display: none;
}

.product-card {
flex: 0 0 auto;
width: 250px;
height: 400px;
margin-right: 40px;
}

.product-image {
position: relative;
width: 100%;
height: 260px;
overflow: hidden;
border-radius: 20px;
}

.product-thumb {
width: 100%;
height: 100%;
object-fit: cover;
}

.discount-tag {
position: absolute;
background: #fff;
padding: 5px;
border-radius: 5px;
color: #ff7d7d;
right: 10px;
top: 10px;
text-transform: capitalize;
}

.card-btn {
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
padding: 10px;
width: 90%;
text-transform: capitalize;
border: none;
outline: none;
background: #fff;
border-radius: 5px;
transition: 0.5s;
cursor: pointer;
opacity: 0;
}

.product-card:hover .card-btn {
opacity: 1;
}

.card-btn:hover {
background: #ff7d7d;
color: #fff;
}

.product-info {
width: 100%;
height: 100px;
padding-top: 10px;
}

.product-brand {
text-transform: uppercase;
font-size: 25px;
}

.product-short-description {
width: 100%;
height: 20px;
line-height: 20px;
overflow: hidden;
opacity: 0.5;
text-transform: capitalize;
margin: 5px 0;
}

.price {
font-weight: 900;
font-size: 20px;
}

.actual-price {
margin-left: 20px;
opacity: 0.5;
text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
border: none;
width: 10vw;
height: 100%;
position: absolute;
top: 0;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
cursor: pointer;
z-index: 8;
}

.pre-btn {
left: 0;
transform: rotate(180deg);
}

.nxt-btn {
right: 0;
}

.pre-btn img,
.nxt-btn img {
opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
opacity: 1;
}

.collection-container {
width: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
}

.collection {
position: relative;
}

.collection img {
width: 100%;
height: 100%;
object-fit: cover;
}

.collection p {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: #fff;
font-size: 50px;
text-transform: capitalize;
}

.collection:nth-child(3) {
grid-column: span 2;
margin-bottom: 10px;
}

.data-container {
display: none;
}
.active {
display: block;
}
#residentialData{
  display:block;
}

.action-button{
      border: 2px solid #592804;
      background: #010305;
      font-size: 13px;
      line-height: 20px;
      display: inline-block;
      padding: 8px 12px;
      text-decoration:none;
      outline: 0;
      border-radius: 0;
      letter-spacing: 2px;
      color: white;
}
.action-button:hover{
  text-decoration: none;
  /* color: #c2a476; */
  color: yellow;
}
.clint{
background-color: rgb(196, 78, 78);
border: 2px solid black;
}
.clint .container-fluid{
 height: 40vh;
 border: 2px solid black;
}
.about-img{
  height: 530px;

}

.read-more-btn{
  background-color: #083966;
  color: white;
  border: green;
}
.btn-warning:hover{
  background-color: green ;
  color: yellow;
}

.search-btn{
  background-color: #021331;
}


/*-------------------------------- Media query Section-------------------------- */

@media only screen and (max-width: 414px) and (min-width: 300px)
{
  
}
@media only screen and (max-width: 768px) and (min-width: 400px)
{
  .about-img{
    height:450px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px)
{
  .about-img{
    height:609px;
  }
  .carousel-caption{
    bottom:538px;
}
}
@media only screen and (max-width: 1024px) and (min-width: 992px)
{
    
}
@media only screen and (max-width: 1440px) and (min-width: 1024px)
{
    
}



/* max-width */

@media only screen and (max-width:500px)
{
  .about-img{
    height:290px;
  }
  .carousel-caption{
    bottom:400px;
}
  
}
@media only screen and (max-width:768px)
{
    .carousel-caption{
        bottom:347px;
    }
    .carousel-caption h1{
      font-size: 20px;
    }
    .carousel-caption h1 span{
      font-size: 45px;
    }
    

}
@media only screen and (max-width:992px)
{
  .about-heading{
    text-align: center;
  }
  .read-more-div{
    text-align: center;
  }
}



/* min-width */
@media only screen and (min-width: 768px) {
   
    .carousel-caption h1{
      font-size: 25px;
    }
    .carousel-caption h1 span{
      font-size: 55px;
    }
   
}

@media only screen and (min-width: 992px) {
  .carousel-caption{
    bottom:300px;
}
  .carousel-caption h1{
    font-size: 30px;
  }
  .carousel-caption h1 span{
    font-size: 70px;
  }
   
}

@media only screen and (min-width: 1024px) {
    .carousel-caption{
        bottom:220px;
    }
    .about-heading{
      text-align: left;
     }
     .choose-us-img{
      height: 578px;
      width: 100%;
     }
     .carousel-caption h1{
      font-size: 30px;
    }
    .carousel-caption h1 span{
      font-size: 70px;
    }
}

@media only screen and (min-width: 1440px) {
    .carousel-caption{
        bottom: 280px;
    }
    .carousel-caption h1{
      font-size: 35px;
    }
    .carousel-caption h1 span{
      font-size: 80px;
    }
    .choose-us-img{
      height: 500px;
      width: 100%;
     }
}

@media only screen and (min-width: 1650px) {
    .carousel-caption{
        bottom:450px;
    }
    .carousel-caption h1{
      font-size: 40px;
    }
    .carousel-caption h1 span{
      font-size: 90px;
    }
    .choose-us-img{
      height: 550px;
      width: 100%;
     }
}
